<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
</head>
<body>
    <h1>Добро пожаловать, {{ username }}!</h1>
    <p>Спасибо за регистрацию на нашем портале новостей. Мы рады видеть вас!</p>
    <p>Чтобы активировать ваш аккаунт, перейдите по следующей ссылке:</p>
    <p><a href="{{ activation_link }}">Активировать аккаунт</a></p>
    <p>Если у вас есть вопросы, не стесняйтесь обращаться к нашей поддержке.</p>
    <p>С наилучшими пожеланиями,<br>Команда нашего портала</p>
</body>
</html>
